@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFFEFC, #F2E4D8, #A69383);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #857569cc;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #f8e324;
    text-align: center;
    text-shadow: 1px 1px 1px #81785a;
}

h2 {
    color: #23808f;
}

h3 {
    color: #23808f;
}
p {
    text-align: justify;
}
