@charset "UTF-8";


/* Typical Device Breakpoints 
Dispositivos pequenos até 480px
Celulares até 767px
Tablets até 992px
Computadores até 1280px
Tv e outros acima de 1280px
*/

@media screen and (min-width: 767px){

    div#imenu-hamburguer {
        display: none;
    }

    div#imenu {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        border: none;
        padding: 5px;
        padding-bottom: 10px;
        margin-left: 5px;
        gap: 10px;
    }

    div#imenu a{
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 4px;
    }

    div#imenu a:hover{
        transform: translate(-5px, -5px);
        transition: transform 0.3s;
        background-color: rgba(0, 0, 0, 0.568);
        border: 2px solid white;
        color: white;
    }

}