@charset "UTF-8";

/* Mobile First*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: gray;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.733);
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.445);
    padding: 20px;
    color: white;
}

div#imenu-hamburguer {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

div#imenu-hamburguer img{
    width: 50px;
    cursor: pointer;
}


div#imenu {
    display: none;
    flex-direction: column;
    flex: auto;
    align-items: stretch;
}

div#imenu a {
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    color: white;
    background-color: rgb(99, 99, 99);
    padding: 5px;
    border-top: 1px solid rgb(219, 219, 219);
}

div#imenu a:hover {
    background-color: rgb(219, 219, 219);
    border-top: 1px solid rgb(99, 99, 99);
    color: black;
}

main {
    width: 80vw;
    margin: auto;
    margin-top: 5px;
}

main h1 {
    text-align: center;
    padding: 20px;
}

main p {
    text-align: justify;
    margin: 10px;
}
