@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: rgb(155, 155, 155);
    
    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

article > div.text {
    flex: 1 1 400px;
}

article > div.media {
    flex: 1 0 400px;
}

div.media > img {
    display: block;
    width: 400px;
    margin: auto;
}

div.media > iframe {
    display: block;
    padding: 0px;
    width: 90%;
    max-width: 560px ;
    margin: auto;
}