@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: grey;
    padding: 10px;
}

header > h1 {
    text-align: center;
}

menu li {
    display: inline-block;
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 10px;
}
menu ul {
    list-style-type: none;
}

article {
    width: 90vw;
    display: block;
    margin: auto;
}